/*
	style.css
*/

html,
body{
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: Arial;
	color: #FFF;
	background-color: #000;
}

a{
	color: #C00;
	text-decoration: none;
}
a:hover{
	color: #FFF;
	background-color: #C00;
}

div#siteHead{
	position: fixed;
	top: 32px;
	left: 32px;
	z-index: 100;
}

div#siteHead h1,
div#siteHead h2{
	margin: 0;
	font-weight: normal;
}

div#siteHead h2{
	margin-top: 5px;
}

div#siteFoot{
	position: fixed;
	bottom: 5px;
	left: 32px;
	z-index: 100;
}



.card3d{
	width: 140px;
	height: 180px;
	box-shadow: 0px 0px 16px rgba(255,153,0,0.5);
	border: 1px solid rgba(255,128,0,0.25);
	background: rgba(255,153,0,0.1);
	cursor: default;
	font-family: Verdana, Arial;
}

.card3d:hover {
	box-shadow: 0px 0px 20px rgba(255,153,0,0.75);
	border: 1px solid rgba(255,128,0,0.75);
	background: rgba(255,153,0,0.2);
}

.card3d .no{
	text-align: right;
	padding: 0 20px;
	color: rgba(255,128,0,1);
}

.card3d .name {
	width: 100%;
	text-align: center;
	font-size: 21px;
	font-weight: bold;

	-webkit-filter: drop-shadow(0px 0px 20px rgba(255,128,0,0.95));
	-moz-filter: drop-shadow(0px 0px 20px rgba(255,128,0,0.95));
	-o-filter: drop-shadow(0px 0px 20px rgba(255,128,0,0.95));
	-ms-filter: drop-shadow(0px 0px 20px rgba(255,128,0,0.95));
	filter: drop-shadow(0px 0px 20px rgba(255,128,0,0.95));
	color: rgba(255,128,0,1);
}

.card3d .birth{
	width: 100%;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

.card3d .code{
	font-size: 14px;
	width: 100%;
	text-align: center;
	color: rgba(255,51,0,0.75);
	font-weight: bold;
	letter-spacing: -1px;
}

#btnArea{
	position: fixed;
	bottom: 32px;
	left: 32px;
	z-index: 200;
}
.btn{
	float: left;
	margin-right: 10px;
	padding: 5px 10px;
	color: #FFF;
	border: 1px solid rgba(255,128,0,1);
	background: rgba(255,153,0,0.1);
	cursor: pointer;
}

.btn:hover{
	background: rgba(255,153,0,0.2);
}