/*
	style.css
*/

html,
body{
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: Arial;
	color: #333;
	background-color: #FFF;
}

a{
	color: #C00;
	text-decoration: none;
}
a:hover{
	color: #FFF;
	background-color: #C00;
}

div#siteHead{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 100;
	padding: 12px;
	background-color: rgba(255,255,255,.8)
}

div#siteHead h1,
div#siteHead h2{
	margin: 0;
	font-weight: normal;
}

div#siteHead h2{
	margin-top: 5px;
}

div#siteHead p{
}

div#siteFoot{
	position: fixed;
	bottom: 32px;
	right: 32px;
	z-index: 100;
}

.plane{
	width: 267px;
	height: 400px;
	background: no-repeat left top url(monaliza.jpg);
}

.top{
	width: 267px;
	height: 30px;
	background: no-repeat left top url(top.jpg);
	background-size: cover;
}
.side{
	width: 30px;
	height: 400px;
	background: no-repeat left top url(side.jpg);
	background-size: cover;
}
.back{
	width: 267px;
	height: 400px;
	background: no-repeat left top url(back.jpg);
	background-size: cover;
}