/*
	style.css
*/

html,
body{
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: Arial;
	color: #333;
	background-color: #FFF;
}

a{
	color: #C00;
	text-decoration: none;
}
a:hover{
	color: #FFF;
	background-color: #C00;
}

div#siteHead{
	position: fixed;
	top: 32px;
	left: 32px;
	z-index: 100;
}

div#siteHead h1,
div#siteHead h2{
	margin: 0;
	font-weight: normal;
}

div#siteHead h2{
	margin-top: 5px;
	font-size: 0.875em;
}

div#siteHead p{
}

div#siteFoot{
	position: fixed;
	bottom: 32px;
	right: 32px;
	z-index: 100;
}

.post02{
	width: 277px;
	height: 400px;
	background: no-repeat left top url(monaliza.jpg)
}

.post03{
	width: 30px;
	height: 30px;
	background: no-repeat left top url(plane.jpg);
	background-size: cover;
}

.post03mini{
	width: 10px;
	height: 10px;
	background: no-repeat left top url(plane.jpg);
	background-size: cover;
}

.no{
	width: 30px;
	font-size: 18px;
	text-align: center;
}
.noMini{
	width: 30px;
	font-size: 10px;
	text-align: center;
}

.lineS{
	width: 500px;
	height: 3px;
	background: no-repeat left top url(lineS.png);
}
.lineM{
	width: 400px;
	height: 10px;
	background: no-repeat left top url(lineM.png);
}
.lineH{
	width: 300px;
	height: 20px;
	background: no-repeat left top url(lineH.png);
}