/*
	style.css
*/

html,
body{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #333;
	color: #AAA;
	font-family: 'EB Garamond', Georgia, "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

#container{
	margin: 0 auto;
	width: 100%;
	text-align: left;
	overflow: hidden;
}

#siteHead{
	position: fixed;
	padding: 16px 32px;
}

#siteHead h1{
	font-size: 21px;
}
#siteHead p{
	font-size: 12px;
}

#myImage{
	display: none;
}

.section{
	background-position: center top;
	background-size: cover;
	min-height: 320px;
	padding: 0 32px;
}
.sectionHead{
	padding: 0.25em 0;
	text-align: center;
	font-size: 64px;
	font-weight: normal;
}

.section.no00{	background-image: url(../img/IMG_6459.JPG);	}
.section.no01{	background-image: url(../img/IMG_6573.JPG);	}
.section.no02{	background-image: url(../img/5S7A0005.JPG);	}
.section.no03{	background-image: url(../img/5S7A0012.JPG);	}
.section.no04{	background-image: url(../img/5S7A0007.JPG);	}
.section.no05{	background-image: url(../img/5S7A0150.JPG);	}
.section.no06{	background-image: url(../img/5S7A0024.JPG);	}
.section.no07{	background-image: url(../img/5S7A0025.JPG);	}
.section.no08{	background-image: url(../img/5S7A0197.JPG);	}
.section.no09{	background-image: url(../img/5S7A0201.JPG);	}

.section{
	padding-top: 16px;
	padding-bottom: 16px;
}

.section p{
	width: 100%;
}





#alert{
	margin: 6em 32px;
	font-size: 75%;
}

#alert div.en,
#alert div.ja{
	margin: 1em 0;
}

#alert ul{
	margin: 1em 0;
}

#alert a{
	font-weight: bold;
}